<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Debug</title>
  </head>
  <body>
  <script type="text/javascript" src="../node_modules/lodash/lodash.js"></script></body>
</html>
